[Desktop Entry]
Type=Application
Version=1.0
Name=ECAppLog
GenericName=ECAppLog
Comment=ECAppLog is a networked logging GUI
Icon=ecapplog
Terminal=false
Exec=ecapplog %F
MimeType=text/text;
Categories=Qt;Development;